<div id="board">
  <div class="yellow">Y</div>
  <div class="blue"></div>
  <div class="none"></div>
  <div class="pink"></div>
  <div class="green"></div>
  <div class="none"></div>
  <div class="violet"></div>
  <div class="orange">O</div>
  <div class="violet"></div>
  <div class="none"></div>
  <div class="blue"></div>
  <div class="none"></div>
  <div class="yellow"></div>
  <div class="pink">P</div>

  <div class="blue"></div>
  <div class="yellow"></div>
  <div class="none"></div>
  <div class="none"></div>
  <div class="green"></div>
  <div class="violet"></div>

  <div class="violet"></div>
  <div class="orange"></div>
  <div class="pink"></div>
  <div class="yellow"></div>
  <div class="green"></div>
  <div class="blue"></div>
  <div class="center"></div>
  <div class="yellow"></div>
  <div class="pink"></div>
  <div class="blue"></div>
  <div class="green"></div>
  <div class="violet"></div>
  <div class="orange"></div>

  <div class="orange"></div>
  <div class="blue"></div>
  <div class="none"></div>
  <div class="none"></div>
  <div class="pink"></div>
  <div class="green"></div>

  <div class="green">G</div>
  <div class="pink"></div>
  <div class="none"></div>
  <div class="violet"></div>
  <div class="yellow"></div>
  <div class="none"></div>
  <div class="orange"></div>
  <div class="violet">V</div>
  <div class="orange"></div>
  <div class="none"></div>
  <div class="pink"></div>
  <div class="none"></div>
  <div class="green"></div>
  <div class="blue">B</div>
</div>