/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
  * {
    margin-left: 20px;
  }
}

.cards {
  display: flex;
  justify-content: center;
}